@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
.headline-logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: #55efc4;
  
}

.share-icon{
  fill: #55efc4;
}

.loader {
      width: 9rem;
      height: 9rem;
      position: relative;
      background: #FFF;
      border-radius: 4px;
      overflow: hidden;
      border: solid #55efc4;
    }
    .loader:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      transform: rotate(45deg) translate(30%, 40%);
      background: #55efc4 ;
      box-shadow: 32px -34px 0 5px #1dd1a1;
      animation: slide 2s infinite ease-in-out alternate;
    }
    .loader:after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #55efc4;
      transform: rotate(0deg);
      transform-origin: 35px 285px;
      animation: rotate 2s infinite ease-in-out;
    }

    @keyframes slide {
      0% , 100%{ bottom: -35px}
      25% , 75%{ bottom: -2px}
      20% , 80%{ bottom: 2px}
    }
    @keyframes rotate {
      0% { transform: rotate(-15deg)}
      25% , 75%{ transform: rotate(0deg)}
      100% {  transform: rotate(25deg)}
    }

.avatar{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background-color: #55efc4;
}
  